.version-label{
    /*font-size: 50%;*/
    font-size: small;
    vertical-align: super;
}
html, body {
	height: 100%;
}
.header-panel{
    display: inline-block;
}
.header-info{
    display: inline-block;
    float: right;
    position: relative;
    vertical-align: center;
    /*text-align: right;*/
    margin-right: 20px;
}

.objSection, section.toolbar {
    margin-left: 20px;
    margin-right: 20px;
}
.objSection{    
    margin-bottom: 100px;
    /*min-height: 100%;*/
}
footer {
    background: dodgerblue;
    color: white !important;
    margin: 50px 0px 0px 0px;
    padding: 10px 50px 10px;
    bottom: 0;
    width: 100%;
}
footer>div {
    margin: 0px;
    margin-right: 100px !important;
    display: inline-block;
    margin-right: 2em;
}
footer>div>* {  
    color: white !important;
    font-size: 90% !important;
}
footer>div>a{
    font-weight: bold;
}

footer>div.footer-techs {
    /*float: right;*/
    text-align: right;
}

footer>div.footer-big
{
    font-size: 120% !important;
}

/************
     TOOLBAR
************/
.sampleSelect{
    display: inline-block !important;
    width: 100px !important;
}

div.form-toolbar>span
{
    float: right;
}
/************
     ROWs
************/

.row-container {
    padding-left: 10px;
}
.row-container>.str-row, .row-container>.array-row, .row-container>.obj-row {
    margin: 1px;
}
.row-container>.str-row
{
    display: table;
}

.row-container>.obj-row:hover>.label-obj, 
.row-container>.array-row:hover>.label-array, 
tr:hover>td>div>.row-container>.obj-row, 
tr:hover>td>div>.row-container>.array-row 
{
    border: 1px solid white;
    color: black;
    background: white;
    margin-right: 10px;
}
tr:hover>td>div>.row-container>.obj-row>.field-obj, 
tr:hover>td>div>.row-container>.array-row>table.array-list
{
    box-shadow: 1px 1px 1px dodgerblue;
}
.field-obj:hover,
.array-row:hover>table.array-list,
tr:hover>td>div>.row-container:hover>.obj-row:hover>.field-obj, 
tr:hover>td>div>.row-container:hover>.array-row>table.array-list
{
    box-shadow: 2px 2px 2px dodgerblue;
}

/*************
     LABELS 
*************/

.label {
    background: dodgerblue;
    color: white;
    padding: 2px 5px 2px;
    font-weight: bolder;   
    
    font: bolder 1em Helvetica;
    vertical-align: top;
    margin: 0px 12px 1px 0px;
}
.label-array, 
.label-obj, 
.editor-panel 
{
    display: inline-block;
}
.label-arr-item {
    margin-left: 5px;
    margin-right: 5px;
}
.label:hover.label-simple  {
    /*border: 1px solid white;*/
    box-shadow: 2px 2px 2px dodgerblue;
    color: black;
    background: white;
    margin-right: 10px;
}
.label:hover.label-obj, 
.label:hover.label-array  
{
    /*border: 1px solid white;*/
    color: black;
    background: white;
    margin-right: 10px;
}

/*************
     FIELDS
*************/

.field-simple:hover{
    /*background: #e5e5e5;*/
    font-weight: bolder;
}
.field-simple {
    margin: 5px;
}
.field-str { color: black; }
.field-num { color: red; }
.field-date { color: green; }
.field-obj  {
    padding-left: 10px;
    border: 1px solid dodgerblue;
    margin-bottom: 2px !important;
    z-index: 3;
    position: relative;
    fill-opacity: 1;
}

/*************
     TABLES
*************/

table.array-list, div.obj {
    margin: 0px;
    border: 1px solid dodgerblue;
}
tr:hover>td>div>.row-container>.str-row {
    font-weight: bolder;
}
th {
    font-weight: bolder;
    color: white !important;
    background: dodgerblue;
    border: 1px solid dodgerblue;
}
th:hover {    
    color: black !important;
    background: white !important;
}
td {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;    
}
td.td-index
{
    color: white !important;
    background: dodgerblue;
    text-align: center !important;
    align-content: center;
    font-weight: bolder;
}

/*************
     FORMS
*************/

span.edit-field {
    display: block;
    overflow: hidden;
    padding: 0 5px;
}