<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    <title>JSON notepad</title>
 
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <script src="js/utils.js"></script>
    <script src="js/app.js"></script>
</head>
 
<body ng-app="jsonEditor" ng-controller="RootObj">
    <header>
        <div class="panel">
            <div class="header-panel">
                <h2>JSON notepad <span class="version-label">(0.0.1)</span></h2>
            </div>
            <div class="header-info">
                <i class="fa fa-exclamation"></i> Editing is not supported yet.</div>
        </div>
    </header>
    <section class="toolbar">
        <div class="form">
            <textarea rows="5" ng-model="jsonObj"></textarea>
            <div class="form-toolbar">
                <a id="" class="button small " ng-click="parseObject()">Parse</a>
                <a id="" class="button small secondary" ng-click="resetInput()">Clear</a>
                <span>
                    <label>Samples&nbsp;
                    <select name="samples" class="sampleSelect" ng-options="s.name as s.descr for s in samples" ng-model="selectedSample" ng-selected="s.name==initSample" ng-change="loadSample(selectedSample)"></select>
                    (from <a href="http://www.sitepoint.com/10-example-json-files/">SitePoint</a>)
                    </label>
                </span>
            </div>
        </div>
    </section>
    <section class="objSection">
        <div class="editor-panel" ng-if="targetObj" ng-init="target=targetObj">
            <script type="text/ng-template" id="objTemplate">
                <div ng-repeat="(f, v) in target" ng-include="'parts/item-view.html'"></div>
            </script>
            <div ng-include="'objTemplate'"></div>
        </div>
        <div ng-if="errorMessage" class="alert-box alert" ng-bind="errorMessage">
        </div>
    </section>
    <footer>
        <div>
            <a href="https://github.com/seoriy/Json-notepad" target="_blank"><i class="fa fa-github"></i> GitHub</a>&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/seoriy/Json-notepad/issues/new" target="_blank"><i class="fa fa-bullhorn"></i> Feedback</a>
        </div>
        <div>
            <a href="http://www.apache.org/licenses/LICENSE-2.0">License</a>
        </div>
        <div>
            Built with <a href="https://angularjs.org/">Angular JS</a>, <a href="http://foundation.zurb.com/">ZURB Foundation</a>, <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
        </div>
    </footer>
</body>

</html>