<div class="row-container">
    <div ng-if="isSimpleField(v)" class="str-row" ng-init="editValue=v">
        <span class="label label-simple" ng-if="isLabelDefined(f)" ng-bind="::f"></span>

        <a class="field field-simple" ng-if="isLink(v) && !isEditingField(f, itemIndex)" target="_blank" ng-bind="::v" ng-href="{{::v}}"></a>
        <span class="field field-simple" ng-if="!isLink(v) && !isEditingField(f, itemIndex)" ng-bind="::v" 
              ng-class="{'field-str': isStringField(v), 'field-num': isNumberField(v), 'field-date': isDateField(v)}"></span>
        <span class="edit-field">
    </div>
    <div ng-if="isArrayField(v)" class="array-row" ng-init="arr=parseArray(v)">
        <div class="label label-array" ng-if="isLabelDefined(f)" ng-bind="::f"></div>
        <table class="array-list" ng-if="arr">
            <tr ng-if="!arr.isSimple">
                <th><span class="th-title">#</span></th>
                <th ng-repeat="v in arr.fields track by $index">
                    <span class="th-title" ng-bind="::v"></span>
                </th>
            </tr>
            <tr ng-repeat="item in arr.array track by $index" ng-init="itemIndex = $index">
                <td class="td-index" class="label-arr-item">
                    <span class="label-arr-item" ng-bind="::$index"></span>
                </td>
                <td ng-repeat="field in arr.fields track by $index" ng-if="!arr.isSimple">
                    <div ng-include="'parts/item-view.html'" ng-if="item.hasOwnProperty(field)" ng-init="f=null; v=item[field]; target=item"></div>
                </td>
                <td ng-if="arr.isSimple">
                    <div ng-include="'parts/item-view.html'" ng-init="f=null; v=item; target=arr.array"></div>
                </td>
            </tr>
        </table>
    </div>
    <div ng-if="isObjectField(v)" class="obj-row">
        <div class="label label-obj" ng-if="isLabelDefined(f)" ng-bind="::f"></div>
        <div class="field field-obj" ng-include="'objTemplate'" ng-init="target=v; itemIndex=0"></div>
    </div>
</div>